body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    margin: 0;  
    padding: 0;
}

header{
    background-color: #007BFF;
    color: #FFFFFF;
    padding: 10px 20px;
    text-align: center;
}

nav ul{
    list-style: none;
    padding: 0;
}

nav ul li{
    display: inline;
    margin-right: 10px;
}
nav ul li a{
    color: #FFFFFF;
    text-decoration: none;
    background-color: #B0C4DE;
    padding: 8px 12px;
    border-radius: 10px;
}

nav ul li a:hover {
    background-color: #d4e0f0;
}

section{
    padding: 20px;
    margin-top: 10px;
    background-color: #FFFFFF;
}

table{
    width: 100%;
    border-collapse: collapse;
}

table , th, td{
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #007BFF;
    color: #FFFFFF;
}

form {
    display: block;
    width: 300px;
}
label{
    margin-top: 10px;
}

input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}

button {
    background-color: #007BFF;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin-top: 5px;
}

button:hover{
    background-color: #55a7ff;
}